.header, footer{
    background-color: #344E41;
    color: #DAD7CD;
    font-family: 'Montserrat', sans-serif;
  }
  
  .logo{
  color: white;
  font-weight: bold;
  }
  

  a:link{
  color:white;
  }
  
  a:visited{
  color: white;
  }
  
  a:hover{
  color: black;
  }
  
  .cart{
  display:flex;
  justify-content: center;
  align-content: center;
  padding-top: 8px;
  text-decoration: none;
  }
    
 
  body{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
  }

  #productTemp{
    background-color:  #A3B18A;
  }

  .products{
    background-color: white;
  }

  .strike-text{
    color: red;text-decoration: line-through
  }
  

@media (min-width:768px) {
    .logo{
      font-size: 16px;
    }
}
@media (min-width:1024px) {
    .logo{
      font-size: 20px;
    }
}
@media (min-width:1280px) {
    .logo{
      font-size: 24px;
    }
}